/* File: app.component.css
Author: Juhász Roland
Copyright: 2022, Juhász Roland
Group: Szoft II N
Date: 2022-12-21
Github: https://github.com/Roleygit
Licenc: GNU GPL  */

table 
{
    background-color: rgba(190, 190, 190, 0.349);
    color: rgb(150, 150, 150);
}
