<!-- File: app.component.html
Author: Juhász Roland
Copyright: 2022, Juhász Roland
Group: Szoft II N
Date: 2022-12-21
Github: https://github.com/Roleygit
Licenc: GNU GPL  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="light-theme" [ngStyle]="{'background-color': theme === 'white' ? '#fff' : '#000'}">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-auto" href="https://github.com/Roleeygit/Latogatni_Ang" target="_blank">{{[name, class, date]}}</a>
    <a class="navbar-brand mx-auto" href="https://szit.hu/doku.php?id=oktatas:web:feladatok:kliens#feladat_0104" target="_blank">Feladatért katt ide!🙀</a>
    <a class="navbar-brand mx-auto" (click)="switchTheme()" >Fekete szinért katt rám!🖤</a>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th>Név</th>
        <th>Megye</th>
        <th>Terület (km²)</th>
        <th>Népesség(Fő)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td>{{ city.name }}</td>
        <td>{{ city.county }}</td>
        <td>{{ city.area }}</td>
        <td>{{ city.population }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>